    /* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

@font-face {
  font-family: 'font1';
  src: url(https://cdn.glitch.com/a787e1a4-d4aa-41be-a94e-453ae35fdcaa%2FUntitledSansTest-Regular.otf?1499557801523) format("truetype"); 
  }

* {
  box-sizing: border-box;
}


a:link {
    text-decoration: none;
}

body {
 animation-name: bodySlideUp;
 animation-duration: 2s;
 margin: 0px;
}

.greyBackgroundExtend{
  position:absolute;
  background-color:#f9f9f9;
  margin-top: 500px;
  height:3750px;
  width:100%;
  z-index: -1;
}

.mainContentContainer {
/*   background-color: #f9f9f9; */
  width: 100%;
  height: 3750px;
  overflow:hidden;
}

.footerbar{
  width:100%;
  height:150px;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
}

.footerbar2{
  width:100%;
  height:100px;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
}

.footerbutton{
  margin-right:20px;
  margin-left:20px;
  color:#a5a5a5;
  font-family: "font1", serif;
  font-size:18px;
   text-decoration: none;
    transition: 1s ease;

}

.footerbutton2{
  margin-right:20px;
  margin-left:20px;
  color:#e2e2e2;
  font-family: "font1", serif;
  font-size:12px;
   text-decoration: none;
}


.footerbutton:hover{
  color:black;
  cursor:pointer;
  transition: 1s ease;
}


.marginContainer{
  max-width: 1600px;
  margin-left:auto;
  margin-right:auto;
}

.background {
  position:fixed;
  background-color:white;
  z-index: -4;
  height: 100%;
  width: 100%;
  transition: 1s ease;
}

.header {
  height:100px;
  display: flex; 
  justify-content:space-between;
  align-items:center;
}

.ethan {
  margin-left:100px;
  font-family: "font1", serif;
  font-size:22px;
  color: #3a3a3a;
   text-decoration: none;
}

.ethan:hover {
   color:lightgrey;
  transition: 0.2s ease;
  cursor:pointer;

}

.about {
  color:#3a3a3a;
  margin-right:100px;
  font-family: "font1", serif;
  font-size:22px;
  cursor:pointer;
   transition: 0.2s ease;
}

.about:hover {
  color:lightgrey;
  margin-right:100px;
   cursor:pointer;

  transition: 0.2s ease;
}

.mainContainer { 
  font-family: "font1", serif;
  font-size:28px;
  height:400px;
/*   background-color:yellow; */
  display: flex; 
  justify-content:space-between;
}

.smaller{
    height:auto;

  
}

.AboutContainer{
    height:auto;

}

@keyframes bodySlideUp {
    0% {transform: translate(0px,20px); opacity:0}
    100% {transform: translate(0px,0px); opacity:1}
}

.headline { 
  margin-top: 80px;
  color:#444444;
  line-height: 1.7em;
  font-family: "font1", serif;
  font-size:28px;
  width:50%;
  margin-left:100px;
  padding-right:100px;
  height: 20px;
/*   background-color: red; */
}

.subheadline { 
  margin-top: 84px;
  color:#a5a5a5;
  line-height: 1.7em;
  font-family: "font1", serif;
  font-size:18px;
  width:50%;
  margin-right:100px;
/*   background-color:green; */
}

.menusubheadline { 
  margin-top: 84px;
  color:#a5a5a5;
  line-height: 1.7em;
  font-family: "font1", serif;
  font-size:18px;
  width:25%;
  margin-right:100px;
/*   background-color:green; */
}




.light{
  color:white;
}

.stickyContainer1 {
  position:fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 3;
  width: 100%;
  height: 100%;
  pointer-events: none;
  }

.sticky1 { 
  font-family: "font1", serif;
  font-size:22px;
 
  color:#a5a5a5;
  position:fixed;
  margin-bottom: 50px;
  margin-right: 20px;
  right: 0;
  bottom:0;
  animation-name: textChange;
  animation-duration: 2s;
}

@keyframes textChange {
  from{opacity: 0;} 
  to{opacity: 1;}  
}

.contentContainer {
  height: 300px;
  margin-top:100px;
  margin-right:100px;
  margin-left:100px;
  overflow:hidden;
/*   background-color:blue; */
  display: flex;
  align-items:center;
  justify-content: flex-start;
  margin-bottom:50px;
  transition: 0.5s ease;
  opacity: 0.5;
}

.Active {
  transition: 0.5s ease;
  opacity: 1;
}

.imageContainer {
   display: flex;
  align-items:center;
  width:75%;
  height:300px;
/*   background-color: red; */
  margin-left: auto;
  overflow:hidden;
}

.image1 {
  width:100%;
  height:302px;
  overflow:hidden;  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: 0.5s ease;
  transform: scale(1, 1);
  cursor:pointer;
}

.image1Hover {
  width:100%;
  height:302px;
  overflow:hidden;  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: 0.5s ease;
  transform: scale(1.05, 1.05);
  cursor:pointer;
 }


.labelContainer {
  height: 200px;
  width: 25%;
  display:flex;
  align-items:center;
  transition: 0.5s ease;
  cursor:pointer;
}

.labelContainerHover {
  z-index:2;
  height: 190px;
  width: 20%;
  position:absolute;
  display:flex;
  align-items:center;
  transition: 0.5s ease;
  cursor:pointer;
}

.label1 {
  font-family: "font1", serif;
  color:#444444;
  font-size:18px;
  transform: translate(0px, 0px) skewY(0deg);
  transform: skewY(0deg);
  opacity:  1;
  transition: 0.5s ease;
}

.label1hover {
    font-family: "font1", serif;
    color:#444444;
    font-size:18px;
    transform: translate(0px, 20px) skewY(-5deg);
    opacity:  0;
    cursor:pointer;
    transition: 0.5s ease;
}

.label2 {
    font-family: "font1", serif;
    color:#a5a5a5;
    font-size:18px;
    margin-left: 20px;
    opacity:1;
    transform: translate(0px, 0px) skewY(0deg);
    transform: skewY(0deg);
    transition: 0.5s ease;
}

.label2hover {
    font-family: "font1", serif;
    color:#a5a5a5;
   font-size:18px;
    margin-left: 20px;
   opacity:0;
    transform: translate(0px, 20px) skewY(-5deg);
    transition: 0.5s ease;
    cursor:pointer;
}

.label3 {
  font-family: "font1", serif;
  color:#a5a5a5;
  font-size:18px;
  position:absolute;
  margin:auto;
  opacity:0;
  transform: translate(0px, -20px) skewY(-5deg);
  transition: 0.5s ease;
  cursor:pointer;
}

.label3hover {
  z-index:2;
  position:absolute;
  margin:auto;
  font-family: "font1", serif;
  color:#a5a5a5;
  font-size:18px;

  opacity:1;
  transform: translate(0px, 0px) skewY(0deg);
  transition: 0.5s ease;
    cursor:pointer;
} 



.linkWhite {
    cursor:pointer;
  display: inline-block;
  transition: 0.5s ease;
  transform: translate(0px, 0px) skewY(0deg);
  
}

.linkWhite:hover {
  color: white;
  transform: translate(4px, 0px) skewY(0deg);
  transition: 0.5s ease;
  cursor:pointer;
}

.link {
  cursor:pointer;
  display: inline-block;
  transition: 0.5s ease;
  transform: translate(0px, 0px) skewY(0deg);

}
.link:hover {
  color: black;
  transform: translate(0px, -4px) skewY(0deg);
  transition: 0.5s ease;
  cursor:pointer;
}

.link2 {
  color: #e2e2e2;
  cursor:pointer;
  display: inline-block;
  transition: 0.5s ease;
  transform: translate(0px, 0px) skewY(0deg);
}

.link2:hover {
  color: black;
  transform: translate(4px, 0px) skewY(0deg);
  transition: 0.5s ease;
  cursor:pointer;
}

#svg1 {
  position:fixed;
  width:50px;
  margin-right:10px;
  margin-bottom:-20px;
  right: 0%;
  bottom: 50%; 
  opacity: 0;
  transition: 1s;
  z-index:4;
}

.footer{
  background-color:black;
  height: 800px;
  margin-top:200px;
}


.menuTest{
  background-color:black;
  width: 100%;
  height:450px;
  position: fixed;
  z-index: 3;
  visibility:hidden;
  transform: translate(0px, -10px) skewY(0deg);
  transition: 0.5s ease;
  opacity:0;
}
.visible{
  visibility:visible;
  transform: translate(0px, 0px) skewY(0deg);
  transition: 0.5s ease;
  opacity:1;
}